<div class="container p-1r">
  <h2>Contact Details</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Email:</strong>
      <a href="mailto:sameerbhor.2024&#64;gmail.com">sameerbhor.2024&#64;gmail.com</a>
    </li>
    <li class="list-group-item">
      <strong>Location:</strong> Khadaki (Pimpalgaon), Pune, India – 410503
    </li>
    <li class="list-group-item">
      <strong>Date of Birth:</strong> 17th December 2001
    </li>
    <li class="list-group-item">
      <strong>Nationality:</strong> Indian
    </li>
  </ul>
</div>
