<div class="container p-1r">
  <h2>
    <b>Contact and Personal Details</b>
  </h2>

  <hr>
  
  <div>
    <b>Mobile No: </b> +919356551922
    <hr>
    <b>Email: </b> sameerbhor.2024&#64;gmail.com
    <hr>
    <b>LinkedIn: </b>
    <a style="text-decoration: none;" href="https://www.linkedin.com/in/sameer-bhor-2257b7222/">https://www.linkedin.com/in/sameer-bhor</a>
    <hr>
    <b>Address: </b> Khadaki (Pimpalgaon), Pune, India – 410503
    <hr>
    <b>Date/Place of Birth: </b> 17th December 2001, Pune
    <hr>
    <b>Nationality: </b> Indian
    <hr>
    <b>Gender: </b> Male
    <hr>
  </div>
</div>
