.profile-photo {
  width: 7.5rem;
  height: 7.5rem;
  background-image: url('../../../assets/images/profile.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid white;
}

.bg-green {
  background-color: #1e453e !important;
}

.font-weight-bold {
  font-weight: bold;
}