<div class="sidebar d-flex flex-column align-items-center p-2r text-white bg-green"
     style="width: 20%; height: 100vh; position: fixed;">
  
  <div class="profile-photo mb-3"></div>

  <h4 class="text-center mb-4">Sameer Bhor</h4>

  <ul class="nav nav-pills flex-column font-weight-bold">
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Profile</a></li>
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/skills" routerLinkActive="active-tab">Skills</a></li>
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/experience" routerLinkActive="active-tab">Experience</a></li>
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/projects" routerLinkActive="active-tab">Projects</a></li>
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/education" routerLinkActive="active-tab">Education</a></li>
    <li class="nav-item"><a class="nav-link text-white pb-1" routerLink="/contact" routerLinkActive="active-tab">Contact</a></li>
  </ul>
</div>
