<div class="sidebar d-flex flex-column align-items-center p-2r text-white bg-green"
     style="width: 20%; height: 100vh; position: fixed;">
  
  <div class="profile-photo mb-3"></div>

  <h4 class="text-center mb-4">Sameer Bhor</h4>

  <ul class="nav nav-pills flex-column font-weight-bold">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/">About</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/skills">Skills</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/experience">Experience</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/projects">Projects</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/education">Education</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/contact">Contact</a></li>
  </ul>
</div>
