<div class="container p-1r">
  <h2><b>Education</b></h2>
  <hr>
  <h5><b>Bachelor of Engineering – Computer Engineering</b></h5>
  <p>
    <b>PDEA’s College of Engineering, Pune</b> (July 2020 – June 2024)
    <br>
    CGPA: 8.29 / 10
  </p>

  <hr>

  <h5>
    <b>HSC – Science</b>
  </h5>
  <p>
    <b>Mahatma Gandhi Junior College, Manchar</b> (June 2019 – June 2020)
    <br>
    Percentage: 77.08%
  </p>

  <hr>

  <h5>
    <b>SSC</b>
  </h5>
  <p>
    <b>Shri Ram Vidyalaya, Pimpalgaon (Khadaki)</b> (June 2017 – June 2018)
    <br>
    Percentage: 92.40%
  </p>
  <hr>
</div>
