<div class="container p-1r">
  <h2><b>Experience</b></h2>
  <hr>
  <h5><b>Paexskin Solutions Pvt. Ltd., Pune</b></h5>
  <div class="ml-2">
    <p><b>Associate Developer</b> (June 2025 – Present)</p>
    <ul>
      <li>Currently working on Training Matrix POC tasks which is another important release in MyCampus lms.</li>
      <li>Collaborated with the team and contributed to the development of OneCatalog, a major release within the MyCampus LMS platform.</li>
      <li>worked on important functionalities such as cron, bg processes, and email handling.</li>
    </ul>
    
    <p><b>Intern Developer</b> (November 2024 – May 2025)</p>
    <ul>
      <li>Supported the development of MyCampus LMS by delivering Security Patches and feature enhancements.</li>
      <li>Built frontend features in Angular using Two-way binding, Routing, Lifecycle Hooks, Services, and Pipes.</li>
      <li>Participated in 2 major product releases.</li>
      <li>Worked with PHP, MySQL, and Moodle framework for backend development and integration.</li>
    </ul>
  </div>
  <hr>
</div>
